a
{
    text-decoration: none;
    color: black;
}
.base_header
{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -6px #222;
}

.a_container:hover
{
    color: lightgreen;
    transition: .2s;
    opacity: 0.8;
}

.ul_container
{
    display: flex;
    justify-content: center;
    max-height: 100px;
}

.li_container
{
    display: flex;
    align-items: center;
    margin: 50px 50px;
    font-size: 14px;
}

.a_container
{
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
}

.a_container_img
{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #092d1f;
    border-radius: 100%;
}

.a_container_img:hover
{
    background-color: black;
    transition: .2s;
}

.a_container_img > img
{
    align-self: center;
    width: 40px;
    height: 40px;
}

/* FOOTER BACKGROUND*/
.footer_background
{
    /*margin-top: 100px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../image/pw_maze_black_2X.png");
    height: 250px;
}

.footer_rights
{
    margin: 10px auto 40px;
    width: 76px;
    display: flex;
    justify-content: center;
}

.footer_dragon_svg
{
    height: 100px;
    cursor: pointer ;
    width: 100px;
}
.footer_dragon_svg:hover path
{
    fill: mediumspringgreen;
    transition: .5s;
}

.footer_dragon_svg > path
{
    fill: white;
}
.footer_designed_text > a
{
    color: #7cc576;
    font-weight: 600;
}
.footer_designed_text > a:hover
{
    color: white;
}
.footer_designed_text
{
    text-align: center;
    margin-top: 5px;
}
.footer_text
{
    color: #cccccc;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    text-align: center;
}
