{% extends 'web/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    <title>Profile Page</title>
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/main_profile.css'%}">
    <link rel="stylesheet" href="{% static 'css/personal_profile.css' %}">
{% endblock style %}
{% block content %}
    <section class="profile_section">
        <div class="profile_container">
            <div class="profile_container_block">
                <div class="main_profile_info">
                    <div class="profile_image">
                        <img src="{{ profile_model.img.url }}" alt>
                        <form class="profile_form" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ img.img|add_class:"profile_btn_image" }}
                            <button id='some_button'
                                    class="profile_btn_success"
                                    type="submit">
                                Загрузить
                            </button>
                        </form>
                    </div>
                    <div class="profile_name">
                        <p>{{ errors.errors.img.0 }}</p>

                        <h1>{{ profile_model.user }}</h1>
                        <h4>{{ profile_model.email }}</h4>
                    </div>
                </div>
                <div class="profile_navigation">
                    <ul class="profile_ul_navigation">
                        <li class="profile_li_container">
                            <a href="{% url 'profile_page' %}">Главная</a>
                        </li>
                        <li class="profile_li_container">
                            <a href="{% url 'personal_page' %}">Личная
                                информация</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% block profile %}
            {% endblock profile %}
        </div>
    </section>
    <script src="{% static 'js/avatar_button_click.js' %}"></script>
{% endblock content %}