{% extends 'web/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    <title>Login</title>
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}
{% block content %}
    <section class="login_section">
        <div class="login_container">
            <div class="login_name_container">
                <h2>РЕГИСТРАЦИЯ</h2>
            </div>
            <form class="login_post_form" method="post">
                {% csrf_token %}
                {{ profile_form.first_name|append_attr:"autofocus"}}
                {{ profile_form.last_name }}
                {{ profile_form.email }}
                {{ user_form.username|remove_attr:"autofocus" }}
                {{ user_form.password1 }}
                {{ user_form.password2 }}
                <button class="login_btn" type="submit">РЕГИСТРАЦИЯ</button>
            </form>
        </div>
    </section>
{% endblock content %}