{% extends 'users/base_profile.html' %}
{% load widget_tweaks %}
{% block title %}
    <title>Profile</title>
{% endblock title %}
{% load static %}
{% block profile %}
    <div class="profile_container_info">
        <h1>Активность в соообществе</h1>
        <div class="profile_container_info_msg">
            <h2 id="profile_h2_container">Мои отзывы({{ user_comment.count }})</h2>
            {% for comment in user_comment %}

                <ul class="profile_ul_container_comment">
                    <li class="profile_li_container_comment"><p>{{ comment.date }}</p></li>
                    <li class="profile_li_container_comment">
                        <a class="profile_comment_model" href="{% url 'shop_item_comment_page' pk=comment.product.pk %}#{{ comment.date }}{{ comment.author.user.username }}">{{ comment.product }}</a>
                    </li>
                    <li class="profile_li_container_comment">
                        <a class="profile_comment_model" href="{% url 'shop_item_edit_comment_page' pk=comment.product.pk pk_alt=comment.pk%}">Редактировать</a>
                    </li>
                    <li class="profile_li_container_comment">
                        <form id="comment_form" method="post">
                            {% csrf_token %}
                            <button class="comment_profile_button" name="key" value="{{ comment.pk }}">Удалить</button>
                        </form>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/adaptive_by_count_comment.js' %}"></script>
{% endblock profile %}